<h1> The FT's Ratings </h1>


  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="review wrapper">
    <% @review.each do |r| %>
      <div class="rating">
        <%= r.rating %>
      </div>
    <% end %>
  </div>

<%= link_to 'Click to review', new_review_path %>
